<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaIT Servicios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="./style/style.css">
<link href="https://fonts.googleapis.com/css2?family=Bellefair&family=Lato:wght@400;700;900&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>

<body>
    <h1 class="encabezado-img">
        MaIT ofrece los siguientes servicios: 
    </h1>
    <br>
    <div class="container">
        <div class="rectangulo">
            <p class="texto"><h4>Gestión de los empleados</h4</p>
            <p class="texto">Ofrecemos espacio en la nube para </p>
            <p class="texto">que gestiones con MaIT</p>
            <p class="texto"> los datos de tus empleados.</p>
            <p class="texto">El precio incluye la gestión</p>
            <p class="texto">técnica del software</p>
            <p class="texto">1000€ / aplicación / mes</p>
        </div>
    </div>
    <div class="container">
        <div class="rectangulo">
            <p class="texto"><h4>Soporte a producción</h4></p>
            <p class="texto">Una persona en exclusiva</p>
            <p class="texto"> para atender los asuntos del </p>
            <p class="texto">entorno productivo</p>
            <p class="texto"> 100€ / hora / persona</p>
        </div>
    </div>
    <div>
        <br>
        <form action="/" method="GET">
            <center>
                <button class="flecha">&larr; Página inicial</button>
            </center>
        </form>
    </div>
    <%- include('footer') %>
</body>

</html>