body {
    background: linear-gradient(to right, #3498db, #f39c12);
    width: 50%; 
    margin: auto;    
}
.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
    font-size: large;
    color: rgb(91, 29, 29);
    text-align: center;
  }
  .containerError {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10 auto;
    font-size: large;
    color: rgb(91, 29, 29);
    text-align: center;
    border: 2px solid #3498db;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px #e0580f; 
  }
  .containerOk {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10 auto;
    font-size: large;
    color: rgb(8, 67, 45);
    text-align: center;
    border: 2px solid #0b562c;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px #e0580f; 
  }
  
.form-container{
    background: linear-gradient(to right, #f39c12, #3498db );
    border-radius: 10px;
    padding: 10px;
    width: auto;
}
.big{
    font-size:180px;
    justify-content: end; 
}
.flecha{
    font-size: 30px;
}
#loginUsuario{
    border: 2px solid #3498db;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px #e0580f;
    width: 400px;
}
.blanco{
    font-size: 15px;
    color: #f5f1f1;
}
.linkedin{
    background-image: url('/imagenes/linkedin.jpg');
    background-size: cover;
    width: 80px;
    height: 80px;
}
.email{
    background-image: url('/imagenes/email.jpg');
    background-size: cover;
    width: 80px;
    height: 80px;
}
.telefono{
    background-image: url('/imagenes/telefono.jpg');
    background-size: cover;
    width: 80px;
    height: 80px;
}
.containerLinks{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    align-items: right; 
}
.containerBtns{
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center; 
  align-self: flex-end;
  width: auto;
}
.bigContainer{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: flex-end;
    width:100%;
    height: auto;
}
.smallContainer{
    display: grid;
    grid-template-columns: 100px 300px;
    grid-template-rows: 100px;
    height: auto;
}
.smallContainerItem{
    height: 30px;
}
.bigInput{
    width: 600px;
}
.imgRound{
    border-radius: 100%;
    border-color: #3498db;
    width: 75px;
}
p{
    color:aliceblue;
}
.titulo{
    color:#095428;
    font-style: bold;
}
.pageTitle{
    color:aliceblue;
    font-size: 100px;
}
.rectangulo {
    align-content: space-evenly;
    justify-content: center;
    width: 320px;
    height: 300px;
    background-color: white;
    border: 2px solid black;
    position: relative;
}
.bigRectangulo {
    width: 640px;
    height: 600px;
    background-color: white;
    border: 2px solid black;
    position: relative;
}
.texto {
    color: rgb(7, 7, 7); 
    font-size: 20px;
    justify-content: center;
}
.labelUsuarioNuevo{
    font-size: 75px;
    color:#f5f1f1;
}
.tabla-contenedor {
    max-height: 200px; /* Altura máxima del contenedor */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    border: 2px solid #ddd; /* Borde del contenedor */
    width: auto;
    height: auto;
    max-width: fit-content;
}
table {
   /* width: 100%;*/
    width: auto;
    height: 200px;
    border-collapse: collapse;
    border: 2px solid #06336a; /* Borde de la tabla */
}
/* Estilos para la cabecera */
.cabecera {
    position: sticky;
    top: 0;
    background-color: #fff;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #e47f12; /* Borde entre filas */
}
td{
    color:#c2d7da;
}

tr:hover {
    background-color: #106142; /* Cambia el color de fondo al pasar el ratón */
}

/* Estilos para las cabeceras */
th {
    background-color: #4CAF50; /* Color de fondo */
    color: rgb(255, 255, 255); /* Color del texto */
}
.selected {
    background-color: #106142; /* Cambia el color de fondo de la fila seleccionada de la tabla empleados*/
}
input[type="text"] {
    font-family: Arial; /* Cambia el tipo de letra del input */
    font-size: 20px; /* Tamaño de la fuente */
    padding: 5px; /* Ajusta el relleno según sea necesario */
  }
input[type="password"] {
    font-family: Arial, sans-serif; /* Cambia el tipo de letra del input */
    font-size: 20px; /* Tamaño de la fuente */
    padding: 5px; /* Ajusta el relleno según sea necesario */
}
.input-group {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
.footer{
    background-color: #f2f2f2;
  }
  footer{
    background-color: rgb(74, 126, 92);
      padding: 1rem 0;
      text-align: center;
      margin-top: 1rem;
      box-shadow: 0 0 20px coral;
      border-radius: 20px;
      
    }
  footer p{
    color: #a4a4a4;
    font-family: 'Bellefair', serif;
    font-size: 16px;
  }
  .social-menu{
    margin-bottom: 20px
  }
  .social-networks{
    margin-left: 0;
    padding-left: 0;
    scale: 3px;
    
  }
  .social-networks li{
    display: inline-block;
  }
  .social-networks a{
    margin: 0;
    padding: 0;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #8a9692;
    color: #fff;
    transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
  }
  .social-networks a:hover{
    background-color: #c5cbcbfe;
    scale: 1.25;
    border-radius: 10px;
    
  }
  .social-menu .social-networks li a{
    margin: 0 8px;
  }
  
  .mensaje {
    display: none; /* El mensaje estará oculto inicialmente */
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

  .encabezado-img {
    margin: 20px  0 0;
    padding: 1rem;
    background-image: url(../imagenes/mait.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px coral;
    border-radius: 20px;
    height: 150px;
    color: bisque;

  }

  .encabezado-img h1 {
    font-size: 4.5vw;
    line-height: 1.5rem;
    
    
  }
  .encabezado-img h2 {
    font-size: 3vw;
     line-height: 1.5rem;
  }
  .container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
    font-size: large;
    color: rgb(91, 29, 29);
    text-align: center;
  }
  
.button-exit {
  --c: #fff;
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
    #004dff;
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
    calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
}

.button-exit:hover,
.button-exit:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.button-exit:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.button-exit {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: .1em .3em;
}

.button-otros {
  --c: #fff;
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
    #d79118;
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
    calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
}

.button-otros:hover,
.button-otros:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.button-otros:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.button-otros {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: .1em .3em;
}